{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0
  }
}
